@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

*{

  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
}

body{
  font-family: 'Slabo 27px', serif;
}

.container{


  max-width:800px;
  margin: 0 auto;

}
#informacion{
  display: flex;
  max-width: 800px;
  width: 100%;

}

p{
  text-align: justify;
}