@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

*{

  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  
}

body{
  font-family: 'Slabo 27px', serif;
}

.container{


  max-width:800px;
  margin: 0 auto;

}
#informacion{
  display: flex;
  max-width: 800px;
  width: 100%;
  flex-direction:row;

}



@media screen and (max-width: 500px) {
  body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
  }

  .container{
    max-width: 500px;
  }

  #informacion{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
  p{
    text-align: justify;
  }
}